<?xml version="1.0" encoding="UTF-8"?>
<config>
	<log_servers>192.168.181.234:9092</log_servers>
	<log_topic>test</log_topic>
	<es_serves>192.168.181.234</es_serves>
	<kafka_spark_servers>192.168.181.234:9092,192.168.181.234:9092</kafka_spark_servers>
	<kafka_spark_topics>
		<topic>zwj_test1</topic>
		
	</kafka_spark_topics>
	<patterns>
		<pattern id="ips">
			<content>(\d+)\s+.*attack_name\(\d+\)=(.*);app_protocol_name.*=\(\d+\)(.*);protocol.*src_ip\(\d+\)=(.*);src_port\(\d+\)=(.*);dst_ip\(\d+\)=(.*);dst_port\(\d+\)=(.*);block_reason.*</content>
			<field id="sourceip" group="3"/>
			<field id="sourceport" group="4"/>
			<field id="destip" group="5"/>
			<field id="destport" group="6"/>
		</pattern>
		<pattern id="ids">
			<content>.+\{.*"time":(.*),"source":\{"\w+":"(.*)","port":(\d+),.*,"destination":\{"\w+":"(.*)","port":(\d+),.*\},.*"protocol":"(.*)","subject":"(.*)","message":.*</content>
			<field id="firstrecvtime" group="1"/>
			<field id="sourceip" group="2"/>
			<field id="sourceport" group="3"/>
			<field id="destip" group="4"/>
			<field id="destport" group="5"/>
			<field id="eventname" group="7"/>
		</pattern>
		<pattern id="nta">
			<content>.*logtype=.*;datetime=(.*);eventID=.*dstip=(.*);eventType=(.*);severity=.*description=(.*)</content>
			<field id="firstrecvtime" group="1"/>
			<field id="destip" group="2"/>
			<field id="eventname" group="3"/>
		</pattern>
		<pattern id="ads">
			<content>.*Attack:(.*)\s+src=(.*)\s+dst=(.*)\s+sport=(.*)\s+dport=(\d+).*</content>
			<field id="sourceip" group="2"/>
			<field id="sourceport" group="4"/>
			<field id="destip" group="3"/>
			<field id="eventname" group="1"/>
		</pattern>
		<pattern id="waf">
			<content>.*waf:.*stat_time:(.*)event_type:(.*)dst_ip:(.*)dst_port:(\d+)\s+(url:.*){0,1}src_ip:(.*)src_port:(.*)method.*</content>
			<field id="firstrecvtime" group="1"/>
			<field id="sourceport" group="4"/>
			<field id="destip" group="4"/>
			<field id="destport" group="3"/>
			<field id="sourceip" group="6"/>
			<field id="sourceport" group="7"/>
		</pattern>
	</patterns>
</config>
